#bri, #junior {
    background-color: silver;
    border-radius: 10px;
}


#page_title{
    background-color: black;
    border-radius: 10px;
}


#MTC{
    font-style: italic;
    size: 30px;
    color: white;
    position: center;
}

#jojo{
    background-color: black;
    border-radius: 10px;
}

#j_name, #j_info{
    color: white;
}
